/***********************************************
                MEDIA QUERIES
***********************************************/

// ------------------ BREAKPOINTS -------------
$breakpoint-mobile: 700px;
$breakpoint-tablet: 901px;
$breakpoint-desktop: 1401px;

// ---------------------------------------------------
// ------------------ MEDIA QUERIES ------------------
header{
    @include mobile{
            width: 700px;
            margin: 0 auto;
            min-height: 8rem;} 
     
    @include tablet{
            width: 900px;
            margin: 0 auto;}
    
    @include desktop{
            width: 1400px;
            margin:0 auto;}
    
    h1{
        @include mobile{
            width: 100%;
            color: #7C593C;}
        
        @include tablet{
            width: 100%;
            color: #3a5E63;}
        
        @include desktop{
            width: 100%;
            color: #7C593C;}
        
        i.fa-lg{
            @include mobile{
                color: #7C593C;
                @include fa-lg;
                }
            
                @include tablet{
                color: #3a5E63;
                @include fa-lg;
                }

                @include desktop{
                color: #7C593C;
                @include fa-lg;
                }
           
            
            ~ span{
            @include mobile{
                float: none;
                letter-spacing: 0.25rem;
                font-size: 3.998rem;
                text-align: left;}
            @include tablet{
                float: none;
                letter-spacing: 0.25rem;
                font-size: 3.998rem;
                text-align: left;}
            @include desktop{
                float: none;
                letter-spacing: 0.25rem;
                font-size: 3.998rem;
                text-align: left;}
             }
        }
    }
    &:before,
    &:after{
        @include mobile{
            width:230px;}
        @include tablet{
            width:300px;}
        @include desktop{
            width:450px;}
        
    }
    nav{
        @include mobile{
            position: static;
            clear:both;
            width: 100%;
            padding: 0;
        }
        @include tablet{
            position: static;
            clear:both;
            width: 100%;
            padding: 0;}
        @include desktop{
            position: static;
            clear:both;
            width: 100%;
            padding: 0;}
        >ul{
            >li{
            @include mobile{
                width:20%;
                float: left;} 
            @include tablet{
                width:20%;
                float: left;
                background-color: #fff;}
            @include desktop{
                width:20%;
                float: left;
                background-color: #fff;}
                
                >a{
                     @include mobile{
                        font-size: 1rem;
                        line-height: 2rem;
                        min-height: 6rem;
                        border:none;
                        border-left:1px solid #d4d4d4; 
                        padding:1.0rem;
                        background-color: #fff;}
                    @include tablet{
                        font-size: 1rem;
                        line-height: 2rem;
                        min-height: 2rem;
                        border:none;
                        border-left:1px solid #d4d4d4; 
                        padding: 0 1.0rem;
                        margin: 1.0rem 0;
                        background-color: #fff;}
                    @include desktop{
                        font-size: 1.414rem;
                        line-height: 2rem;
                        min-height: 2rem;
                        border:none;
                        border-left:1px solid #d4d4d4; 
                        padding:0 1.0rem;
                        margin:1.0rem 0;
                        background-color: #fff;}
                    
                    &:last-child{
                         @include mobile{
                            border-right:1px solid #d4d4d4;}
                        @include tablet{
                            border-left:none;}
                        @include desktop{
                            border-left:none;}   
                    }
                    
                } 
            }
        }
    }
}


section.focal{
    @include mobile{
        width: 700px; 
        margin: 0 auto;}
    @include tablet{
        width: 900px; 
        margin: 0 auto;}
    @include desktop{
        width: 1400px; 
        margin: 0 auto;} 
    
    h2{
    @include tablet{
            width: 600px; 
            margin: 0 auto;}
    @include desktop{
            font-size: 3.998rem;
            width: 600px; 
            margin: 0 auto;}
    }
    p.author{
        @include tablet{
            width: 600px; 
            margin: 0 auto;}
        @include desktop{
            width: 600px; 
            margin: 0 auto;}
    }
}

section.content1{
    @include mobile{
        width: 700px; 
        margin: 0 auto;}
    @include tablet{
        width: 900px; 
        margin: 0 auto;}
    @include desktop{
        width: 1400px; 
        margin: 0 auto;} 
    h3{
        @include tablet{
            font-size: 1.999rem;
            font-weight: 100;}
         @include desktop{
            font-size: 2.827rem;
            font-weight: 100;}
        
        .fa-2x{
        @include tablet{
            font-size: 1.999rem;
            padding-right: 1rem;}
        @include desktop{
            font-size: 2.827rem;
            padding-right: 1rem;
            vertical-align: middle;}
        }
    }
}

section.content2{
    @include mobile{
        width: 700px; 
        margin: 0 auto;}
    @include tablet{
        width: 900px; 
        margin: 0 auto;}
    @include desktop{
        width: 1400px; 
        margin: 0 auto;} 
    h4{
    @include mobile{
        font-size: 1.414rem;}
    @include tablet{
        font-size: 1.414rem;}
    @include desktop{
        font-size: 1.999rem;}
    }
    li{
        @include mobile{
            font-size: 1.414rem;}
        @include tablet{
            font-size: 1.414rem;}
        @include desktop{
            font-size: 1.999rem;}
    }
    p{
        @include tablet{
            font-size: 1rem;
            font-weight: 400;}
        @include desktop{
            font-size: 1.414rem;
            font-weight: 400;}
    }
}


footer{
    @include mobile{
        width: 700px; 
        margin: 0 auto;}
    @include tablet{
        width: 900px; 
        margin: 0 auto;}
    @include desktop{
        width: 1400px; 
        margin: 0 auto;} 
    
    .fa-circle{
        @include mobile{
            color: #89C0C9;}
        @include tablet{
            color: #C9A689;}
        @include desktop{
            color: #89C0C9;}
    }
    
    p{
    @include desktop{
        font-size: 1.414rem;
        letter-spacing: 0.2rem;}
    &:last-child{
        @include desktop{
            color: #d4d4d4;}    
        }
        
    }
    .col-2{
        &:last-child{
            @include mobile{
                unicode-bidi: bidi-override;
                direction: rtl;}
        } 
    }
    
    h4[lang=ar]{
        @include mobile{
           display:block;}
        @include tablet{
            display:none;}
        @include desktop{
            display:none;}
    }
    
    h4[lang=de]{
        @include mobile{
            display:none;}
        @include tablet{
            display:none;}
        @include desktop{
            display:none;}
    }
    h4[lang=en]{
        @include mobile{
            display:none;}
        @include tablet{
            display:none;}
        @include desktop{
            display:block;}
    }
    h4[lang=ru]{
        @include mobile{
            display:none;}
        @include tablet{
            display:block;}
        @include desktop{
            display:none;}
    }
    
}

  

.col-4{
        @include mobile{
            float:left;
            @include createCols(4, 0%, 200%);
    }
    @include tablet{
            float:left;
            @include createCols(4, 4%, 100%);
    }
    @include desktop{
            float:left;
            @include createCols(4, 4%, 100%);
    }
}
 


.col-3{
        @include tablet{
            float:left;
            @include createCols(3, 5%, 100%);
    }
        @include desktop{
            float:left;
            @include createCols(3, 5%, 100%);
    }
}    