// ------------- COLORS -----------------------
$color_light_blue :  #C7F7FF;
$color_med_blue :   #89C0C9;
$color_dark_blue :  #3a5E63;
$color_light_brown : #C9A689;
$color_dark_brown : #7C593C;
$color_light_grey : #d4d4d4;
$color_dark_grey : #222;
$color-bg : #fff;



// ----------------- FONTS ---------------------
$font-stack: 'Josefin Sans', 'Trebuchet MS', Helvetica, sans-serif; 
$header-font-stack: Cardo, 'Palatino Linotype', 'Book Antiqua', Palatino, serif;

$font-size-xs: 1rem;
$font-size-s: 1.414rem;
$font-size-m: 1.999rem;
$font-size-l: 3.998rem;
$font-size-xl: 4rem;
$font-size-xxl: 7rem;




