// main SASS file
@import "_variables.scss";
@import "_mixins.scss";
//@import "_queries.scss";

/***********************************************
                DEFAULTS
***********************************************/
*{
    padding:0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    &:after, &:before{
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }
}

html{
    font-size: 16px;
    font-family: $font-stack;
    line-height: 1.6;
}
h1, h2, h3, h4{
    font-family: $header-font-stack;
}
ul{
    list-style: none;
}
/***********************************************
                SPECIAL
***********************************************/
@include clearfix;
/***********************************************
              LAYOUT 
***********************************************/
.bg-header{
    background-color: $color-bg;
    background-color:$color_light_blue;
    color: $color_dark_grey;
    border-bottom:1rem solid $color_med_blue;
    border-top:1rem solid $color_dark_blue;
    position: relative;
    
    &:before{
        content:"";
        position:absolute;
        bottom:-1rem;
        width:30%;
        height:1rem;
        background-color: $color_dark_blue;
        left:0;  
    }
    &:after{
        content:"";
        position:absolute;
        bottom:-1rem;
        width:30%;
        height:1rem;
        background-color: $color_dark_blue;
        right:0;
    }
    
}


.bg-focal{
    background-color: $color_light_brown;
    color: $color_dark_brown;
}
.bg-content1{
    background-color: $color-bg;
    color: $color_dark_grey;
}
.bg-content2{
    background-color: $color_light_blue;
    color: $color_dark_blue;
}
.bg-footer{
    background-color: $color-bg;
    color: $color_light_grey;
}


header{
    width: 400px; /* default */
    margin: 0 auto;
    position: relative;
    
    h1{
        width: 100%;
        padding: 0 2rem;
    }
    
    nav{
        width: 100%;
        
        ul{
            li{
               width:100%;
               float: none; 
            }
        }
    }
    
}


section{
    .focal{
    width: 400px; /* default */
    margin: 0 auto;
    }
}

section{
    .content1{
    padding: 2rem 0;
    }
}
section.content2{
    padding:2rem 0;    
}

.row{
    clear: both;
}
.col-2{
    width:50%;
    float:left;
    padding-bottom: 2rem;
    border-left:1px solid $color_dark_blue;
    margin-bottom: 2rem;
}

footer{
    padding:2rem 0;
    .col-2:first-child{
        border-left: 0;
    }
    p{
        &:last-child{
            
        }
    }
    
} 

/***********************************************
                NAVIGATION 
***********************************************/
header nav{ 
  padding: 2rem 0;
  clear: both;

  >ul{  

    >li{ 
        >a{
            display:block;
            text-align: center;
            text-decoration: none;
            color: $color_dark_grey;    
            font-size: $font-size-s;
            letter-spacing: 0.25rem;
            border:1px solid $color_light_grey; 
            border-bottom: none;
            padding:1.0rem 2rem;
            line-height: 1;
            background-color: $color-bg; 
            
            &:hover{
                font-weight: 700;
                color:$color_dark_brown;
            }
        }
    } 
  } 
}

/***********************************************
                CONTENT 
***********************************************/
header{
    h1{
       color: $color_dark_brown;
       letter-spacing: 0.1rem; 
        
        i.fa-lg{
            display:block;
            width: 25%;
            float:left;
            font-size: $font-size-xxl;
            line-height: 12.7936rem;
            color: $color_light_brown;
            
            ~ span{
                float: right;
                width: 75%;
                font-size: $font-size-l;
                /**
                2 lines of 3.998 * 1.6 = 12.7936
                **/
                padding-left: 1rem;
                text-align: right;
            }
        }
    }
}

.focal{
    h2{
        font-size: $font-size-m;
        line-height: 1.2;
        padding: 2rem 2rem 1rem 2rem;  
    }
    
    .author{
        font-size: $font-size-xs;
        padding: 0.2rem 2rem 2rem;
    }
}

.content1{
    h3{
        font-size: $font-size-m;
        padding: 0.2rem 2rem 2rem;
        i{
            vertical-align:middle;
            padding-right: 2rem;
        }
    }
    
    p{
       font-size: $font-size-s;
        padding: 0.5rem 2rem 2rem; 
    }
}

.content2{
    h3{
       font-size: $font-size-m;
       padding: 1rem 2rem 0.5rem; 
    }
    h4{
        font-size: $font-size-m;
        padding: 1rem 2rem 0rem;
    }
    p{
    font-size: $font-size-s;
    padding: 0.5rem 2rem 1rem;
    }
    li{
    padding: 0.5rem 2rem;
    font-size: $font-size-s;
    }
}

/***********************************************
                FOOTER 
***********************************************/
footer {
    h4{
    font-size: $font-size-s;
    padding: 0.5rem 2rem;
    color: $color_dark_brown;
    }
    p{
    font-size: $font-size-xs;
    padding: 0.5rem 2rem;
    color: $color_dark_grey;
    }
    .fa-circle{
    color: $color_dark_grey;
    }
    
    h4[lang=de]{
       display:block;
    }
    
     h4[lang=en],
     h4[lang=ar],
     h4[lang=ru]{
        display:none;
    }
    
}

/***********************************************
                MEDIA QUERIES
***********************************************/
@import "_queries.scss";